__pycache__/
_build/*
data/models/*
**/.DS_Store
**/*.icloud
*.swp
.ipynb_checkpoints
.jupyter
# Ignorer les dossiers
data/
slides_html/
slides_pdf/
studies/

# Ignorer les fichiers spécifiques
intro.md
production.md
RM.md
_config.yml
_toc.yml
# Ignorer tous les fichiers du dossier notebook sauf notebooke1.ipynb
notebooks/*
!notebooks/01 - Introduction.ipynb

labs/*
!labs/Lab 0 - Prerequisites.ipynb
!labs/Lab 1 - Tutorial.ipynb
!labs/Lab 1a - Linear Models for Regression.ipynb
!labs/Lab 1b - Lab 1b - Linear Models for Classification.ipynb


